* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    color: #fff;
}

.container {
    margin: 12% auto;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    text-align: center;
}

.display {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 32px;
    color: #fff;
}

.container h1 span {
    color: #e74c3c;
    border-bottom: 4px solid #e74c3c;
    padding-bottom: 7px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #1a1a1a;
    color: #fff;
}

.display button {
    border: 0;
    outline: 0;
    background: #e74c3c;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.display button:hover {
    background: #c0392b;
}

#generate-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #e74c3c;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
}

#copy-button {
    background: #1a1a1a;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#copy-button:hover {
    background: #333;
}


/* Media Queries para Responsividade */

@media (max-width: 768px) {
    .container {
        margin: 10% auto;
    }

    .container h1 {
        font-size: 28px;
    }

    .display input {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 15% auto;
    }

    .container h1 {
        font-size: 24px;
    }

    .display input {
        font-size: 18px;
    }
}
